<form action="/admin/products" method="POST" enctype="multipart/form-data">
  <div class="mb-4 text-center">
    <h1 class="h3 font-weight-normal mb-3">新增商品</h1>
  </div>
  {{> admin-product-form}}
</form>