<form action="/admin/brands/{{brand.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
  <div class="mb-4 text-center">
    <h1 class="h3 font-weight-normal mb-3">編輯品牌</h1>
  </div>
  {{> admin-brand-form}}
</form>