<div class="container">
  {{> admin-navbar}}
  <form action="/admin/products/{{product.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
    <div class="mb-4 text-center">
      <h1 class="h3 font-weight-normal mb-3">編輯商品</h1>
    </div>
    {{> admin-product-form}}
  </form>
</div>
<script src="/javascripts/admin-product.js"></script>
