<nav class="navbar navbar-expand-lg bg-white pt-4 mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="/admin/index">Apparel</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div>
      <span class="text-secondary me-4">Apparel後台管理</span>
      <a href="/logout">logout</a>
    </div>
  </div>
</nav>