<div class="container">
  {{> navbar}}
  <div class="d-flex justify-content-center">
    <div class="w-50">
      <h3>Cart /</h3>
      <hr>
      {{> cart-item-table}}
      <div class="d-flex justify-content-end">
        <a href="/cart/checkout" class="btn btn-secondary">Checkout</a>
      </div>
    </div>
  </div>
</div>