<div class="container">
  {{> navbar}}
  <div class="d-flex justify-content-center">
    <div style="width: 40%">
      <div class="mb-4 text-center">
        <h1 class="h3 font-weight-normal mb-3">登入 Apparel</h1>
      </div>
      <form class="form-signin" action="/signin" method="POST" style="width: 100%;">
        <div class="form-row mb-3">
          <label class="form-label" for="email">Email</label>
          <input type="text" id="email" name="email" class="form-control" required autofocus>
        </div>
        <div class="form-row mb-3">
          <label class="form-label" for="password">密碼</label>
          <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <button class="btn btn-secondary btn-block rounded-pill w-100 mt-3" type="submit">登入</button>
        <div class="d-flex">
          <a href="/auth/facebook" class="btn btn-primary btn-block w-50 mt-3">Facebook 登入</a>
          <a href="/auth/google" class="btn btn-danger btn-block w-50 mt-3">Google 登入</a>
        </div>
      </form>
      <div class="mt-2 mb-4 text-center d-flex justify-content-end">
        <p><a href="/signup">註冊會員</a></p>
      </div>
    </div>
  </div>
</div>

<script src="https://apis.google.com/js/platform.js" async defer></script>