a {
  text-decoration: none;
  color: inherit;
}

.front-banner {
  width: 100%;
  height: 450px;
  object-fit: contain;
  margin-bottom: 100px;
}

.card {
  border: none;
}

.card:hover {
  opacity: 0.5;
}

.cartItemImage {
  height: 40%;
  width: 40%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.quantity-decrease-button, .quantity-increase-button, .cart-delete-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.card-img-top {
  max-height: 240px;
  object-fit: cover;
}

.form-control-plaintext:focus {
  outline: none;
}

.nav-pills .nav-link.active {
  background-color: gray;
}

.nav-pills .nav-link {
  color: gray;
}

.order-detail-table th {
  text-align: left;
}

.order-detail-table td {
  text-align: right;
}

.order-detail-table tr {
  line-height: 2em;
}

.form-signin input:focus {
  border-color: gray;
  box-shadow: 0 0 0 0.25rem #DCDCDC;
}