a {
  text-decoration: none;
  color: inherit;
}

.index-banner {
  width: 100%;
  aspect-ratio: 2 / 1;
  object-fit: cover;
  object-position: 50% 68%;
  margin-bottom: 50px;
}

.index-title {
  border-bottom: 1.5px solid;
  padding: 0.5rem;
}

.card {
  border: none;
}

.product-card:hover {
  opacity: 0.5;
}

.cartItemImage {
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cartItemImageContainer {
  width: 40%;
}

.cartItemTitle span {
  font-weight: normal;
}

.quantity-decrease-button, .quantity-increase-button, .cart-delete-button, .favorite-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.card-img-top {
  max-height: 240px;
  object-fit: cover;
}

.form-control-plaintext:focus {
  outline: none;
}

.nav-pills .nav-link.active {
  background-color: gray;
}

.nav-pills .nav-link {
  color: gray;
}

.order-detail-table th {
  text-align: left;
}

.order-detail-table td {
  text-align: right;
}

.order-detail-table tr {
  line-height: 2em;
}

.form-signin input:focus {
  border-color: gray;
  box-shadow: 0 0 0 0.25rem #DCDCDC;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

blockquote.customerMessage {
  background-color: #F5F5F5;
  padding: 12px;
  width: 56%;
}

blockquote.adminMessage {
  background-color: #E0FFFF;
  padding: 12px;
  width: 56%;
}

.blockquote-footer {
  margin-bottom: 0;
}

input.search-input, input.search-input:focus {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ced4da;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
}

button#search-button {
  border: none;
}

.product-card, .admin-product-card {
  padding: 0 0.25rem;
}

.nav-tabs .nav-item .nav-link, 
.btn-link {
  color: #6c757d;
}

.btn-link:hover {
  color: #6c757d;
}

.btn-link {
  text-decoration: none;
}