a {
  text-decoration: none;
  color: inherit;
}

.front-banner {
  width: 100%;
  height: 450px;
  object-fit: contain;
  margin-bottom: 100px;
}

.card {
  border: none;
}

.card:hover {
  opacity: 0.5;
}

.cartItemImage {
  height: 40%;
  width: 40%;
}

.quantity-decrease-button, .quantity-increase-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}